<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/pets">Mascotas</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editar Mascota</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Editar Mascota</h4>
                <p class="text-muted mb-3">Modifique los siguientes campos para actualizar la información de la mascota.
                </p>

                <!-- Spinner de carga -->
                <div *ngIf="isLoading" class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>

                <!-- Formulario para editar la mascota -->
                <form *ngIf="!isLoading" (ngSubmit)="onUpdate()" #petForm="ngForm" class="row g-3">

                    <!-- Sección Izquierda: Información de la Mascota -->
                    <div class="col-md-9">
                        <div class="row">
                            <!-- Nombre de la Mascota -->
                            <div class="col-md-6">
                                <label for="petName" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="petName" [(ngModel)]="editPet.petName"
                                    name="petName" required>
                                <div *ngIf="errors?.petName" class="text-danger small">{{ errors.petName[0] }}</div>
                            </div>

                            <!-- Fecha de Nacimiento con DatePicker -->
                            <div class="col-md-6">
                                <label for="petBirthDate" class="form-label">Fecha de Nacimiento</label>
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp"
                                        [(ngModel)]="editPet.petBirthDate" ngbDatepicker #d="ngbDatepicker">
                                    <button class="input-group-text" type="button" (click)="d.toggle()">
                                        <i class="feather icon-calendar icon-md text-muted"></i>
                                    </button>
                                </div>
                                <div *ngIf="errors?.petBirthDate" class="text-danger small">{{ errors.petBirthDate[0] }}
                                </div>
                            </div>

                            <!-- Especie -->
                            <div class="col-md-6 mt-3">
                                <label for="species" class="form-label">Especie</label>
                                <ng-select [items]="species" bindLabel="specieName" bindValue="id"
                                    placeholder="Seleccione la especie" [(ngModel)]="editPet.species_id"
                                    name="species_id" (change)="loadBreedsBySpecies()" required>
                                </ng-select>
                                <div *ngIf="errors?.species_id" class="text-danger small">{{ errors.species_id[0] }}
                                </div>
                            </div>

                            <!-- Raza -->
                            <div class="col-md-6 mt-3">
                                <label for="breeds" class="form-label">Raza</label>
                                <ng-select [items]="breeds" bindLabel="breedName" bindValue="id"
                                    placeholder="Seleccione la raza" [(ngModel)]="editPet.breeds_id" name="breeds_id"
                                    required>
                                </ng-select>
                                <div *ngIf="errors?.breeds_id" class="text-danger small">{{ errors.breeds_id[0] }}</div>
                            </div>

                            <!-- Peso de la Mascota -->
                            <div class="col-md-6 mt-3">
                                <label for="petWeight" class="form-label">Peso (kg)</label>
                                <input type="text" class="form-control" id="petWeight" [(ngModel)]="editPet.petWeight"
                                    name="petWeight" required>
                                <div *ngIf="errors?.petWeight" class="text-danger small">{{ errors.petWeight[0] }}</div>
                            </div>

                            <!-- Color de la Mascota -->
                            <div class="col-md-6 mt-3">
                                <label for="petColor" class="form-label">Color</label>
                                <input type="text" class="form-control" id="petColor" [(ngModel)]="editPet.petColor"
                                    name="petColor" required>
                                <div *ngIf="errors?.petColor" class="text-danger small">{{ errors.petColor[0] }}</div>
                            </div>

                            <!-- Género de la Mascota -->
                            <div class="col-md-6 mt-3">
                                <label for="petGender" class="form-label">Género</label>
                                <select class="form-select" id="petGender" [(ngModel)]="editPet.petGender"
                                    name="petGender" required>
                                    <option value="" disabled selected>Seleccione el Género</option>
                                    <option value="Macho">Macho</option>
                                    <option value="Hembra">Hembra</option>
                                </select>
                                <div *ngIf="errors?.petGender" class="text-danger small">{{ errors.petGender[0] }}</div>
                            </div>

                            <!-- Cliente (Dueño) -->
                            <div class="col-md-6 mt-3">
                                <label for="clients" class="form-label">Dueño</label>
                                <ng-select [items]="clients" bindLabel="clientName" bindValue="id"
                                    placeholder="Seleccione el dueño" [(ngModel)]="editPet.clients_id" name="clients_id"
                                    required>
                                </ng-select>
                                <div *ngIf="errors?.clients_id" class="text-danger small">{{ errors.clients_id[0] }}
                                </div>
                            </div>

                            <!-- Información Adicional -->
                            <div class="col-md-12 mt-3">
                                <label for="petAdditional" class="form-label">Información Adicional</label>
                                <textarea class="form-control" id="petAdditional" rows="3"
                                    [(ngModel)]="editPet.petAdditional" name="petAdditional"></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- Sección Derecha: Imagen de la Mascota -->
                    <div class="col-md-3">
                        <!-- CropperJS para la imagen de la mascota -->
                        <div class="col-md-12 text-center">
                            <label class="form-label">Fotografía de la Mascota</label>
                            <angular-cropper #cropper [cropperOptions]="config" [imageUrl]="imageUrl"></angular-cropper>
                            <img *ngIf="croppedImage" [src]="croppedImage" alt="Imagen Recortada" class="img-fluid mt-3"
                                style="max-width: 150px;">
                            <div class="row">
                                <div class="col-md-4">
                                    <div *ngIf="imageUrl" class="btn btn-primary mt-3" (click)="cropImage()">Recortar
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <input type="file" (change)="handleFileInput($event)" accept="image/*"
                                        class="form-control mt-3">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Botones -->
                    <div class="col-12 text-end">
                        <button type="button" class="btn btn-dark me-2" (click)="goBack()">
                            <i class="feather icon-arrow-left-circle"></i> Regresar
                        </button>
                        <button type="submit" class="btn btn-primary" [disabled]="petForm.invalid">
                            <i class="feather icon-check-circle"></i> Actualizar Mascota
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>