<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/pets">Mascotas</a></li>
        <li class="breadcrumb-item active" aria-current="page">Perfil</li>
    </ol>
</nav>

<div class="row">

    <div class="col-md-12">
        <!-- Spinner de carga -->
        <div *ngIf="isLoading" class="text-center">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
    </div>

    <!-- Sección de la imagen y la información principal -->
    <div class="col-md-8" *ngIf="!isLoading">
        <div class="card mb-4">
            <div class="row no-gutters">
                <!-- Imagen de la mascota -->
                <div class="col-md-4 text-center">
                    <img [src]="serverUrl + pet.petPhoto ? serverUrl + pet.petPhoto : 'assets/images/default/blank-pet.png'"
                        class="card-img" alt="{{ pet.petName }}">
                    <h5 class="card-title mt-2 mb-0">{{ pet.petName }}</h5>
                    <p class="card-text mb-2">
                        <small>{{ calculateAge(pet.petBirthDate) }}</small>
                    </p>
                </div>
                <div class="col-md-8">
                    <div class="card-header" style="background: transparent;">Información General</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p><strong>Código: </strong>{{ pet.petCode }}</p>
                                <p class="mt-2"><strong>Fecha N.: </strong>{{ pet.petBirthDate | date: 'yyyy-MM-dd' }}
                                </p>
                                <p class="mt-2"><strong>Sexo: </strong>{{ pet.petGender }}</p>
                            </div>
                            <div class="col-md-6">
                                <p><strong>Peso: </strong>{{ pet.petWeight }} Kg</p>
                                <p class="mt-2"><strong>Especie: </strong>{{ pet.specieName }}</p>
                                <p class="mt-2"><strong>Raza: </strong>{{ pet.breedName }}</p>
                            </div>
                            <div class="col-md-12">
                                <p class="mt-2"><strong>Dueño: </strong>{{ pet.clientName }}</p>
                            </div>
                            <div *ngIf="pet.petAdditional">
                                <hr class="mt-2 mb-0">
                                <div class="col-md-12 mt-2">
                                    <strong>Información adicional: </strong>
                                    <p>{{pet.petAdditional}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Historial -->
        <div class="card mb-4">
            <div class="card-header">
                Historia
                <button class="btn btn-xs btn-primary float-right">
                    <i class="feather icon-plus"></i> Nueva Historia
                </button>
            </div>
            <div class="card-body"></div>
        </div>
    </div>

    <!-- Sección de Notas -->
    <div class="col-md-4" *ngIf="!isLoading">
        <div class="card">
            <div class="card-header" style="background: transparent;">
                Nota
                <button class="btn btn-xs btn-primary float-right" (click)="openAddModal(basicModal)">
                    <i class="feather icon-plus"></i> Nueva
                </button>
            </div>
            <div class="card-body">
                <!-- Mostrar las notas si existen -->
                <div *ngIf="visibleNotes && visibleNotes.length > 0; else noNotes"
                    style="max-height: 160px; overflow-y: auto;" (scroll)="onScroll($event)" class="custom-scroll">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-start note-item"
                            *ngFor="let note of visibleNotes" (mouseenter)="showActions($event)"
                            (mouseleave)="hideActions($event)">
                            <div class="ms-2 me-auto">
                                <small>
                                    <p>{{ note.noteDescription }}</p>
                                    <strong>{{ note.noteDate | date: 'yyyy-MM-dd' }}</strong>
                                </small>
                            </div>
                            <!-- Opciones de edición y eliminación -->
                            <div class="btn-group action-buttons" style="display: none;">
                                <button class="btn btn-secondary btn-xs" (click)="openEditModal(note)">
                                    <i class="feather icon-edit"></i>
                                </button>
                                <button class="btn btn-danger btn-xs" (click)="deleteNote(note.id)">
                                    <i class="feather icon-trash-2"></i>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Si no hay notas -->
                <ng-template #noNotes>
                    <small class="text-muted">No hay notas disponibles para esta mascota.</small>
                </ng-template>
            </div>
        </div>
    </div>

    <!-- Botones -->
    <div class="col-12 text-end mt-2" *ngIf="!isLoading">
        <button type="button" class="btn btn-dark me-2" (click)="goBack()">
            <i class="feather icon-arrow-left-circle"></i> Regresar
        </button>
    </div>

</div>

<!-- Modal para agregar nueva nota -->
<ng-template #basicModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Agregar Nota</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onSubmit(modal)">
            <div class="mb-3">
                <label for="noteDescription" class="form-label">Nota</label>
                <textarea [(ngModel)]="newNote.noteDescription" name="noteDescription" maxlength="140"
                    (input)="updateCharacterCount()" rows="3" style="resize: none;" required
                    class="form-control"></textarea>
                <div *ngIf="errors?.noteDescription" class="text-danger small">{{ errors.noteDescription[0] }}</div>
                <div class="row">
                    <div class="col-md-6"><small>Máximo de 140 caracteres</small></div>
                    <div class="col-md-6 text-end"><small>{{ remainingCharacters }}</small></div>
                </div>
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
        </form>
    </div>
</ng-template>

<!-- Modal para editar nota -->
<ng-template #editModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Editar Nota</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onEditSubmit(modal)">
            <div class="mb-3">
                <label for="noteDescription" class="form-label">Nota</label>

                <textarea [(ngModel)]="selectedNote.noteDescription" name="noteDescription" maxlength="140"
                    (input)="updateCharacterCountEdit()" rows="3" style="resize: none;" required
                    class="form-control"></textarea>
                <div *ngIf="errors?.noteDescription" class="text-danger small">{{ errors.noteDescription[0] }}</div>
                <div class="row">
                    <div class="col-md-6"><small>Máximo de 140 caracteres</small></div>
                    <div class="col-md-6 text-end"><small>{{ remainingCharacters }}</small></div>
                </div>
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </form>
    </div>
</ng-template>