<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/pets">Mascotas</a></li>
        <li class="breadcrumb-item active" aria-current="page">Perfil</li>
    </ol>
</nav>

<div class="row">

    <div class="col-md-12">
        <!-- Spinner de carga -->
        <div *ngIf="isLoading" class="text-center">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
    </div>

    <!-- Sección de la imagen y la información principal -->
    <div class="col-md-8" *ngIf="!isLoading">
        <div class="card mb-4">
            <div class="row no-gutters">
                <!-- Imagen de la mascota -->
                <div class="col-md-4 text-center">
                    <img [src]="serverUrl + pet.petPhoto ? serverUrl + pet.petPhoto : 'assets/images/default/blank-pet.png'"
                        class="card-img cursor-pointer" alt="{{ pet.petName }}"
                        (click)="openLightbox(pet.petPhoto ? serverUrl + pet.petPhoto : 'assets/images/default/blank-pet.png')">
                    <h5 class="card-title mt-2 mb-0">{{ pet.petName }}</h5>
                    <p class="card-text mb-2">
                        <small>{{ calculateAge(pet.petBirthDate) }}</small>
                    </p>
                </div>
                <div class="col-md-8">
                    <div class="card-header" style="background: transparent;">Información General</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p><strong>Código: </strong>{{ pet.petCode }}</p>
                                <p class="mt-2"><strong>Fecha N.: </strong>{{ pet.petBirthDate | date: 'yyyy-MM-dd' }}
                                </p>
                                <p class="mt-2"><strong>Sexo: </strong>{{ pet.petGender }}</p>
                            </div>
                            <div class="col-md-6">
                                <p><strong>Peso: </strong>{{ pet.petWeight }} Kg</p>
                                <p class="mt-2"><strong>Especie: </strong>{{ pet.specieName }}</p>
                                <p class="mt-2"><strong>Raza: </strong>{{ pet.breedName }}</p>
                            </div>
                            <div class="col-md-12">
                                <p class="mt-2"><strong>Dueño: </strong>{{ pet.clientName }}</p>
                            </div>
                            <div *ngIf="pet.petAdditional">
                                <hr class="mt-2 mb-0">
                                <div class="col-md-12 mt-2">
                                    <strong>Información adicional: </strong>
                                    <p>{{pet.petAdditional}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Historial -->
        <div class="card mb-4">

            <ul ngbNav #defaultNav="ngbNav" [(activeId)]="defaultNavActiveId" class="nav-tabs nav">
                <li [ngbNavItem]="1">
                    <a ngbNavLink (click)="loadHistories(pet.id)">Historia</a>
                    <ng-template ngbNavContent>
                        <button class="btn btn-xs btn-primary" (click)="addHistoy(pet.id)"
                            style="border-bottom-left-radius: 0;">
                            <i class="feather icon-plus"></i> Agregar Historia
                        </button>

                        <div class="col-md-12">
                            <!-- Spinner de carga -->
                            <div *ngIf="historiesLoading" class="text-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only"></span>
                                </div>
                            </div>
                        </div>

                        <!-- Mostrar la imagen "not-found" cuando no hay registros en la tabla -->
                        <div *ngIf="!historiesLoading && histories.length === 0" class="text-center">
                            <img src="assets/images/default/not-found.png" class="img-fluid" style="max-width: 90px;">
                            <p class="text-muted mt-2">No se encontraron historias para la mascota.</p>
                        </div>

                        <ul class="timeline" *ngIf="!historiesLoading && histories.length > 0">
                            <li class="event" *ngFor="let history of histories">
                                <ngb-accordion [closeOthers]="true">
                                    <ngb-panel id="static-1" title="{{history.history_code}}">
                                        <ng-template ngbPanelContent>
                                            <p><strong>N. Historia:</strong> {{history.history_code}}</p>
                                            <p class="mt-3"><strong>Motivo Consulta:</strong></p>
                                            <p>{{history.history_reason}}</p>
                                            <p class="mt-3"><strong>Síntomas:</strong></p>
                                            <p>{{history.history_symptoms}}</p>
                                            <p class="mt-3"><strong>Diagnóstico:</strong></p>
                                            <p>{{history.history_diagnosis}}</p>
                                            <p class="mt-3"><strong>Tratamiento:</strong></p>
                                            <p>{{history.history_treatment}}</p>
                                            <!-- Mostrar las imágenes -->
                                            <div *ngIf="history.files.length > 0">
                                                <p class="mt-3"><strong>Archivos Adjuntos:</strong></p>
                                                <div class="row">
                                                    <div class="col-md-3" *ngFor="let file of history.files">
                                                        <ng-container *ngIf="isImage(file.file_type); else pdfTemplate">
                                                            <div class="image-gallery">
                                                                <img [src]="serverUrl + file.file_path"
                                                                    class="img-thumbnail clickable-image cursor-pointer"
                                                                    alt="Imagen adjunta"
                                                                    (click)="lightbox.openLightbox(serverUrl + file.file_path)" />
                                                            </div>
                                                        </ng-container>
                                                        <ng-template #pdfTemplate>
                                                            <a href="javascript:void(0)"
                                                                (click)="openPdfModal(pdfModal, file.file_path)">
                                                                <img src="assets/images/default/pdf.png"
                                                                    class="img-thumbnail cursor-pointer" alt="PDF adjunto" />
                                                            </a>
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>
                                <span class="badge bg-light text-dark">
                                    <strong>Fecha: </strong> {{history.history_date}} <strong>Hora:
                                    </strong>{{history.history_time}} |
                                    <strong>Creado por: </strong>{{history.userName}}
                                </span>
                            </li>
                        </ul>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink (click)="loadVaccines(pet.id)">Vacunas</a>
                    <ng-template ngbNavContent>

                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <h4 class="card-title mb-0">Gestión de Vacunas</h4>
                            <!-- Botón Agregar Mascota alineado a la derecha -->
                            <button class="btn btn-primary btn-sm" (click)="openAddModal(vaccineModal)">
                                <i class="feather icon-plus"></i> Agregar Vacuna
                            </button>
                        </div>

                        <div class="col-md-12">
                            <!-- Spinner de carga -->
                            <div *ngIf="vaccinesLoading" class="text-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only"></span>
                                </div>
                            </div>
                        </div>
                        <!-- Tabla de mascotas -->
                        <app-datatable *ngIf="!vaccinesLoading" [columns]="[
                        { label: 'Nombre', key: 'vaccineName', sortable: true },
                        { label: 'Fecha', key: 'vaccineDate', sortable: true },
                        { label: 'Producto (Lote)', key: 'productUsed' },
                        { label: 'Obervaciones', key: 'observations' },
                    ]" [data]="vaccines" [itemsPerPage]="10" [actions]="actions">
                        </app-datatable>
                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="defaultNav" class="border border-top-0 p-3"></div>

        </div>
    </div>

    <!-- Sección de Notas -->
    <div class="col-md-4" *ngIf="!isLoading">
        <div class="card">
            <div class="card-header" style="background: transparent;">
                Nota
                <button class="btn btn-xs btn-primary float-right" (click)="openAddModal(basicModal)">
                    <i class="feather icon-plus"></i> Nueva
                </button>
            </div>
            <div class="card-body">
                <!-- Mostrar las notas si existen -->
                <div *ngIf="visibleNotes && visibleNotes.length > 0; else noNotes"
                    style="max-height: 160px; overflow-y: auto;" (scroll)="onScroll($event)" class="custom-scroll">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-start note-item"
                            *ngFor="let note of visibleNotes" (mouseenter)="showActions($event)"
                            (mouseleave)="hideActions($event)">
                            <div class="ms-2 me-auto">
                                <small>
                                    <p>{{ note.noteDescription }}</p>
                                    <strong>{{ note.noteDate | date: 'yyyy-MM-dd' }}</strong>
                                </small>
                            </div>
                            <!-- Opciones de edición y eliminación -->
                            <div class="btn-group action-buttons" style="display: none;">
                                <button class="btn btn-secondary btn-xs" (click)="openEditModal(note)">
                                    <i class="feather icon-edit"></i>
                                </button>
                                <button class="btn btn-danger btn-xs" (click)="deleteNote(note.id)">
                                    <i class="feather icon-trash-2"></i>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Si no hay notas -->
                <ng-template #noNotes>
                    <small class="text-muted">No hay notas disponibles para esta mascota.</small>
                </ng-template>
            </div>
        </div>
    </div>

    <!-- Botones -->
    <div class="col-12 text-end mt-2" *ngIf="!isLoading">
        <button type="button" class="btn btn-dark me-2" (click)="goBack()">
            <i class="feather icon-arrow-left-circle"></i> Regresar
        </button>
    </div>

</div>

<!-- Modal para agregar nueva nota -->
<ng-template #basicModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Agregar Nota</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onSubmit(modal)">
            <div class="mb-3">
                <label for="noteDescription" class="form-label">Nota</label>
                <textarea [(ngModel)]="newNote.noteDescription" name="noteDescription" maxlength="140"
                    (input)="updateCharacterCount()" rows="3" style="resize: none;" required
                    class="form-control"></textarea>
                <div *ngIf="errors?.noteDescription" class="text-danger small">{{ errors.noteDescription[0] }}</div>
                <div class="row">
                    <div class="col-md-6"><small>Máximo de 140 caracteres</small></div>
                    <div class="col-md-6 text-end"><small>{{ remainingCharacters }}</small></div>
                </div>
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
        </form>
    </div>
</ng-template>

<!-- Modal para editar nota -->
<ng-template #editModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Editar Nota</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onEditSubmit(modal)">
            <div class="mb-3">
                <label for="noteDescription" class="form-label">Nota</label>

                <textarea [(ngModel)]="selectedNote.noteDescription" name="noteDescription" maxlength="140"
                    (input)="updateCharacterCountEdit()" rows="3" style="resize: none;" required
                    class="form-control"></textarea>
                <div *ngIf="errors?.noteDescription" class="text-danger small">{{ errors.noteDescription[0] }}</div>
                <div class="row">
                    <div class="col-md-6"><small>Máximo de 140 caracteres</small></div>
                    <div class="col-md-6 text-end"><small>{{ remainingCharacters }}</small></div>
                </div>
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </form>
    </div>
</ng-template>

<!-- Modal para agregar nueva vacuna -->
<ng-template #vaccineModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Agregar Vacuna</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onSubmitVaccine(modal)">
            <div class="row mb-3">

                <div class="col-md-6 mb-2">
                    <label for="vaccineName" class="form-label">Vacuna</label>
                    <ng-select [items]="allVaccines" bindLabel="vaccineName" bindValue="id"
                        placeholder="Seleccione la vacuna" [(ngModel)]="newVaccine.vaccine_id" name="vaccine_id"
                        required>
                    </ng-select>
                    <div *ngIf="errors?.vaccine_id" class="text-danger small">{{ errors.vaccine_id[0] }}
                    </div>
                </div>

                <div class="col-md-6 mb-2">
                    <label for="vaccine_date" class="form-label">Fecha Aplicada</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp"
                            [(ngModel)]="newVaccine.vaccine_date" ngbDatepicker #d="ngbDatepicker">
                        <button class="input-group-text" type="button" (click)="d.toggle()">
                            <i class="feather icon-calendar icon-md text-muted"></i>
                        </button>
                    </div>
                    <div *ngIf="errors?.vaccine_date" class="text-danger small">{{ errors.vaccine_date[0] }}
                    </div>
                </div>

                <div class="col-md-12 mb-2">
                    <label for="product" class="form-label">Producto (Fabricante, lote)</label>
                    <input type="text" class="form-control" id="product" [(ngModel)]="newVaccine.product" name="product"
                        required>
                    <div *ngIf="errors?.product" class="text-danger small">{{ errors.product[0] }}</div>
                </div>

                <div class="col-md-12">
                    <label for="observation" class="form-label">Observaciones</label>
                    <textarea [(ngModel)]="newVaccine.observation" name="observation" rows="3" style="resize: none;"
                        required class="form-control"></textarea>
                    <div *ngIf="errors?.observation" class="text-danger small">{{ errors.observation[0] }}</div>
                </div>

            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
        </form>
    </div>
</ng-template>

<!-- Modal para editar vacuna -->
<ng-template #editVaccineModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Editar Vacuna</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onEditSubmitVaccine(modal)">
            <div class="row mb-3">

                <div class="col-md-6 mb-2">
                    <label for="vaccineName" class="form-label">Vacuna</label>
                    <ng-select [items]="allVaccines" bindLabel="vaccineName" bindValue="id"
                        placeholder="Seleccione la vacuna" [(ngModel)]="selectedVaccine.vaccineId" name="vaccine_id"
                        required>
                    </ng-select>
                    <div *ngIf="errors?.vaccine_id" class="text-danger small">{{ errors.vaccine_id[0] }}</div>
                </div>

                <div class="col-md-6 mb-2">
                    <label for="vaccine_date" class="form-label">Fecha Aplicada</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp"
                            [(ngModel)]="selectedVaccine.vaccineDate" ngbDatepicker #d="ngbDatepicker">
                        <button class="input-group-text" type="button" (click)="d.toggle()">
                            <i class="feather icon-calendar icon-md text-muted"></i>
                        </button>
                    </div>
                    <div *ngIf="errors?.vaccine_date" class="text-danger small">{{ errors.vaccine_date[0] }}</div>
                </div>

                <div class="col-md-12 mb-2">
                    <label for="product" class="form-label">Producto (Fabricante, lote)</label>
                    <input type="text" class="form-control" id="product" [(ngModel)]="selectedVaccine.productUsed"
                        name="product" required>
                    <div *ngIf="errors?.product" class="text-danger small">{{ errors.product[0] }}</div>
                </div>

                <div class="col-md-12">
                    <label for="observation" class="form-label">Observaciones</label>
                    <textarea [(ngModel)]="selectedVaccine.observations" name="observation" rows="3"
                        style="resize: none;" required class="form-control"></textarea>
                    <div *ngIf="errors?.observation" class="text-danger small">{{ errors.observation[0] }}</div>
                </div>

            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </form>
    </div>
</ng-template>

<!-- Modal para mostrar PDF -->
<ng-template #pdfModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Ver PDF</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <iframe [src]="pdfToDisplay" width="100%" height="600px" style="border:none;"></iframe>
    </div>
</ng-template>

<app-lightbox #lightbox></app-lightbox>