<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div class="auth-side-wrapper" [ngStyle]="{ 'background-image': 'url(/assets/images/auth/login.jpg)' }">
          </div>
        </div>
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="nobleui-logo d-block mb-2">Mega<span>Vet</span></a>
            <h5 class="text-muted fw-normal mb-4">¡Inicia sesión para seguir adelante!</h5>
            <form class="forms-sample" (submit)="onSubmit()">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Correo Electrónico"
                  [(ngModel)]="email" name="email" (input)="onEmailInput()"
                  [ngClass]="{'is-invalid': emailTouched && !isValidEmail(email)}" required>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1" autocomplete="current-password"
                  placeholder="contraseña" name="password" [(ngModel)]="password" (input)="onPasswordInput()"
                  [ngClass]="{'is-invalid': passwordTouched && password === ''}" required>
              </div>
              <!--<div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="authCheck">
                <label class="form-check-label" for="authCheck">
                  Recordar
                </label>
              </div>-->
              <div>
                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0"
                  [disabled]="!isFormValid() || isLoading">
                  <span *ngIf="!isLoading">Iniciar Sesión</span>
                  <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span>
                  <span *ngIf="isLoading" class="sr-only"> Validando...</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>