<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h4 class="card-title mb-0">Gestión de Usuarios</h4>
                    <!-- Botón Agregar Usuario alineado a la derecha -->
                    <button class="btn btn-primary btn-sm" routerLink="/users/add">
                        <i class="feather icon-plus"></i> Agregar Usuario
                    </button>
                </div>

                <!-- Efecto de carga -->
                <div *ngIf="isLoading" class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>

                <!-- Tabla de usuarios -->
                <app-datatable *ngIf="!isLoading" [columns]="[
                    { label: 'Documento', key: 'doc', sortable: true },
                    { label: 'Nombre', key: 'name', sortable: true },
                    { label: 'Email', key: 'email' },
                    { label: 'Teléfono', key: 'phone', sortable: true },
                    { label: 'Género', key: 'sex' },
                    { label: 'Estado', key: 'status', sortable: true }
                  ]" [data]="users" [itemsPerPage]="10" [actions]="actions">
                </app-datatable>
            </div>
        </div>
    </div>
</div>